@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}

body {
  background: #020c1f;
  background-image: linear-gradient(
    to right top,
    #020c1f,
    #04081a,
    #050514,
    #04020d,
    #010004
  );

  width: 100%;
  padding-top: 20px;
}

.navbar {
  background: rgba(34, 42, 56, 0.3);
}

.text-gradient {
  /* Use a linear gradient as the background */
  background: linear-gradient(to right, #7ea0f6, #ef1f95);
  /* Set background clip to text to apply gradient only to text */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; /* Hide original text color */
}

/* .glass {
  background: rgba(2, 12, 31, 0.05);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
} */
