@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}

body {
  background: #020c1f;
  background-image: linear-gradient(
    to right top,
    #020c1f,
    #04081a,
    #050514,
    #06013e,
    #010004
  );

  width: 100%;
  padding-top: 20px;
}

.navbar {
  background: rgba(89, 110, 145, 0.3);
}

.heroBG {
  background-image: url(../public/city.svg);
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
}

.text-gradient {
  /* Use a linear gradient as the background */
  background: linear-gradient(to right, #7ea0f6, #ef1f95);
  /* Set background clip to text to apply gradient only to text */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; /* Hide original text color */
}

/* .glass {
  background: rgba(2, 12, 31, 0.05);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
} */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0e172c;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #7ea0f6;
  /* background-image: linear-gradient(
    to right top,
    #020c1f,
    #04081a,
    #050514,
    #04020d,
    #010004
  ); */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d9e2fc;
}
